body {
    padding: 20px;
}

header {
    padding: 20px 0 20px 0;
}

.config-name{
    font-size: 20px;
}

#editPnl #json{
    margin: 10px 0 0 0;
    width: 640px;
    height: 480px;
}

#saveBtn, #resetBtn{
    margin-left: 10px;
}

footer {
    padding: 20px 0 20px 0;
}